ORDER_HTTP_PORT=8080
ORDER_GRPC_HOST=localhost
ORDER_GRPC_PORT=50052
PAYMENT_GRPC_HOST=localhost
PAYMENT_GRPC_PORT=50051
ORDER_DATABASE_PATH=data/orders.db
PAYMENT_DEFAULT_MESSAGE=payment processed successfully
